<div class="c-devise__container l-container--s">
  <h2 class="c-devise__title">アカウント情報を編集</h2>

  <div class="c-devise__inner">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%# ニックネーム %>
      <div class="field">
        <%= f.label(
              :nickname,
              class: "c-devise__input-title"
            ) %>
        <%= f.text_field(
              :nickname,
              autofocus: true,
              class: "c-devise__input"
            ) %>
      </div>
      <%# ニックネーム end %>

      <%# メールアドレス %>
      <div class="field">
        <%= f.label(
              :email,
              class: "c-devise__input-title"
            ) %>
        <%= f.email_field(
              :email,
              autofocus: true,
              autocomplete: "email",
              class: "c-devise__input"
            ) %>
      </div>
      <%# メールアドレス end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%# 新しいパスワード %>
      <div class="field">
        <%= f.label(
            :password,
            class: "c-devise__input-title"
          ) %>
          <% if @minimum_password_length %>
            <span>（<%= @minimum_password_length %>文字以上）</span>
          <% end %>

        <div class="c-devise__password-wrap">
          <%= f.password_field(
                :password,
                id: "new_password",
                autocomplete: "new-password",
                minlength: @minimum_password_length,
                title: "#{@minimum_password_length}文字以上で入力してください",
                class: "c-devise__input"
            ) %>
          <button type="button"
                  class="c-devise__toggle-password"
                  data-target="new_password"
                  aria-label="パスワードを表示">
            <svg class="c-devise__svg c-devise__icon-eye" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="eyeIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="eyeIconTitle">表示する</title> <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z"/> <circle cx="12" cy="12" r="3"/> </svg>
            <svg class="c-devise__svg c-devise__icon-eye-off is-hidden" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="eyeCrossedIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="eyeCrossedIconTitle">隠す</title> <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z"/> <circle cx="12" cy="12" r="3"/> <path d="M3 21L20 4"/> </svg>
          </button>
        </div>
      </div>
      <%# 新しいパスワード end %>

      <%# 新しいパスワード確認 %>
      <div class="field">
        <%= f.label(
              :password_confirmation,
              class: "c-devise__input-title"
            ) %>
        <div class="c-devise__password-wrap">
          <%= f.password_field(
                :password_confirmation,
                id: "new_password_confirmation",
                autocomplete: "new-password",
                class: "c-devise__input",
                oninput: "this.setCustomValidity(this.value !== document.getElementById('user_password').value ? 'パスワードが一致しません' : '')"
              ) %>
          <button type="button"
                  class="c-devise__toggle-password"
                  data-target="new_password_confirmation"
                  aria-label="パスワードを表示">
            <svg class="c-devise__svg c-devise__icon-eye" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="eyeIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="eyeIconTitle">表示する</title> <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z"/> <circle cx="12" cy="12" r="3"/> </svg>
            <svg class="c-devise__svg c-devise__icon-eye-off is-hidden" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="eyeCrossedIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="eyeCrossedIconTitle">隠す</title> <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z"/> <circle cx="12" cy="12" r="3"/> <path d="M3 21L20 4"/> </svg>
          </button>
        </div>
      </div>
      <%# 新しいパスワード確認 end %>

      <%# 現在のパスワード %>
      <div class="field">
        <%= f.label(
              :current_password,
              class: "c-devise__input-title"
            ) %>
        <div class="c-devise__password-wrap">
          <%= f.password_field(
                :current_password,
                id: "current_password",
                autocomplete: "current-password",
                required: true,
                class: "c-devise__input"
              ) %>
          <button type="button"
                  class="c-devise__toggle-password"
                  data-target="current_password"
                  aria-label="パスワードを表示">
            <svg class="c-devise__svg c-devise__icon-eye" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="eyeIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="eyeIconTitle">表示する</title> <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z"/> <circle cx="12" cy="12" r="3"/> </svg>
            <svg class="c-devise__svg c-devise__icon-eye-off is-hidden" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="eyeCrossedIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="eyeCrossedIconTitle">隠す</title> <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z"/> <circle cx="12" cy="12" r="3"/> <path d="M3 21L20 4"/> </svg>
          </button>
        </div>
        <p class="c-devise__note">※ 情報の更新には現在のパスワードが必要です。</p>
      </div>
      <%# 現在のパスワード end %>

      <div class="actions">
        <%= f.submit(
              "更新",
              class: "c-button c-button--medium c-button--white c-button--center"
            ) %>
      </div>
    <% end %>

    <div class="c-devise__link-wrapper--spaced c-devise__link-wrapper--right-aligned">
      <%= button_to(
          "アカウントを削除する",
          registration_path(resource_name),
          data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,
          class: "c-devise__link"
          ) %>
    </div>

    <div class="c-devise__link-wrapper--right-aligned">
      <%= link_to(
          "マイページに戻る",
          :back,
          class: "c-devise__link"
          ) %>
    </div>
  </div>
</div>
