<div class="c-devise-form__container l-container">
  <h2 class="c-devise-form__title">アカウントを作成</h2>

  <div class="c-devise-form__inside">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label(
              :email,
              class: "c-devise-form__input-title"
            ) %>
        <%= f.email_field(
              :email,
              autofocus: true,
              autocomplete: "email",
              class: "c-devise-form__input"
            ) %>
      </div>

      <div class="field">
        <%= f.label(
              :password,
              class: "c-devise-form__input-title"
            ) do %>
          パスワード  
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        <% end %>

        <%= f.password_field(
              :password,
              autocomplete: "new-password",
              class: "c-devise-form__input"
            ) %>
      </div>


      <div class="field">
        <%= f.label(
              :password_confirmation,
              class: "c-devise-form__input-title"
            ) %>
        <%= f.password_field(
              :password_confirmation,
              autocomplete: "new-password",
              class: "c-devise-form__input"
            ) %>
      </div>

      <div class="actions">
        <%= f.submit(
              "登録する",
              class: "c-button c-button--white c-button--center"
            ) %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
