<div class="c-devise__container l-container--s">
  <h2 class="c-devise__title">アカウントを作成</h2>

  <div class="c-devise__inner">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label(
              :email,
              class: "c-devise__input-title"
            ) %>
        <%= f.email_field(
              :email,
              autofocus: true,
              autocomplete: "email",
              class: "c-devise__input"
            ) %>
      </div>

      <div class="field">
        <%= f.label(
              :password,
              class: "c-devise__input-title"
            ) do %>
          パスワード  
          <% if @minimum_password_length %>
            <span>(<%= @minimum_password_length %>文字以上)</span>
          <% end %>
        <% end %>

        <%= f.password_field(
              :password,
              id: "user_password",
              autocomplete: "new-password",
              required: true,
              minlength: @minimum_password_length,
              title: "#{@minimum_password_length}文字以上で入力してください",
              class: "c-devise__input"
            ) %>
      </div>


      <div class="field">
        <%= f.label(
              :password_confirmation,
              id: "user_password_confirmation",
              class: "c-devise__input-title"
            ) %>
        <%= f.password_field(
              :password_confirmation,
              autocomplete: "new-password",
              class: "c-devise__input",
              oninput: "this.setCustomValidity(this.value !== document.getElementById('user_password').value ? 'パスワードが一致しません' : '')"
            ) %>
      </div>

      <div class="actions">
        <%= f.submit(
              "登録する",
              class: "c-button c-button--white c-button--center"
            ) %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
