<div class="l-container--l l-section">
  <h2 class="c-title-level1">
    「<%= params[:q] %>」の検索結果
  </h2>

  <% if @google_books.present? %>
    <ul class="c-works__container">
      <% @google_books.each do |book| %>
        <li class="c-works">
          <!-- サムネ画像がない場合は代替画像を表示 -->
          <% image_url = book[:thumbnail_link] %>
          <img class="c-works__image" src="<%= image_url.start_with?("http") ? image_url : asset_path(image_url) %>" alt="本のサムネイル画像">

          <div class="c-works__text">
            <h3 class="c-works__title"><%= book[:title] %></h3>
            <p class="c-works__author">
              <%= book[:authors].join(", ") %>
            </p>
            <p class="c-works__published_date">
              出版日: <%= book[:published_date] %>
            </p>
            ISBN: <%= book[:isbn] || "なし" %><br>
            <!-- ログイン時は登録用モーダル、ログアウト時はログインページに遷移 -->
            <% if user_signed_in? %>
              <button class="register-modal__open" data-book-id="<%= book[:isbn] %>">
                作品を登録
              </button>
            <% else %>
              <%= link_to "作品を登録", new_user_session_path, class: "register-login-link" %>
            <% end %>

            <!-- <% if Book.exists?(google_id: book[:google_id]) %>
              <span style="color: green;">（DBに保存済み）</span>
            <% else %>
              <span style="color: red;">（未保存）</span>
            <% end %> -->
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>該当する本は見つかりませんでした。</p>
  <% end %>

  <!-- 登録モーダル -->
<div class="register-modal">
  <div class="register-modal__content">
    <h2 class="c-title-level1 c-title-level1--center">作品を登録</h2>
    <%= form_with url: reading_logs_path, method: :post, local: true do |f| %>
      <%= hidden_field_tag :isbn %>
      <div class="register-modal__textarea-wrap">
        <label class="register-modal__textarea-label">コメント</label>
        <%= f.text_area :comment, class: "register-modal__textarea" %>
      </div>
      <div class="register-modal__textarea-wrap">
        <label class="register-modal__textarea-label">引用メモ</label>
        <%= f.text_area :citation, class: "register-modal__textarea" %>
      </div>
      <div>
        <label class="register-modal__textarea-label">読書ステータス</label>
        <%= f.select :is_read,
                      [["選択してください", nil], ["既読", 0], ["未読", 1], ["積読", 2]],
                      { include_blank: false },
                      class: "register-modal__status" %>
      </div>
      <%= f.submit "登録", class: "register-modal__submit" %>
    <% end %>
    <button class="register-modal__close">閉じる</button>
  </div>
</div>

</div>
