<% provide :body_class, "is-home" %>
<% provide :in_main_footer, render("shared/footer") %>

<%# home-kv %>
<div class="home-kv home-scroll-snap">
  <div class="home-kv__inner">
    <%= image_tag "img-home-kv.jpg", class: "home-kv__img", alt: "コンクリート壁の静かげな空間で1冊の見開きの本が置かれている写真" %>

    <div class="home-kv__overlay">
      <h1 class="home-kv__title">読綴<span class="home-kv__subtitle">-Yomitsuzuri-</span></h1>
      <p class="home-kv__catch-copy">ことばに、わたしが映る。</p>
    </div>
  </div>
</div>
<%# home-kv end %>

<%# home-about %>
<section class="home-about home-scroll-snap js-fade-in">
  <div class="home-about__inner l-container--m l-section--l">
    <h2 class="c-title-home">
      わたしだけの読書録
    </h2>
    <p class="home-about__intro">
      <p class="home-about__text">
        <span class="home-about__span">読綴は、自分自身と静かに向き合うための</span>
        <span class="home-about__span">著者フォーカス型 読書記録アプリです。</span>
      </p>
      <p class="home-about__text">
        <span class="home-about__span">好きな著者の歩みを辿るように、</span>
        <span class="home-about__span">その作品たちと、ひとつずつ向き合っていく。</span>
      </p>
      <p class="home-about__text">
        <span class="home-about__span">うまく書こうとしなくていい。</span>
        <span class="home-about__span">きれいじゃなくていい。</span>
      </p>
      <p class="home-about__text">
        <span class="home-about__span">心に残ったことばを、わたしの感性で、</span>
        <span class="home-about__span">ありのままに綴る。</span>
      </p>
      <p class="home-about__text">
        <span class="home-about__span">評価も、いいねも、ここにはありません。</span>
        <span class="home-about__span">あるのはただ、本と、わたしの感性だけ。</span>
      </p>
    </p>
  </div>
</section>
<%# home-about end %>

<%# home-how-to %>
<section class="home-how-to home-scroll-snap js-fade-in">
  <div class="home-how-to__inner l-container--m l-section--l">
    <h2 class="c-title-home">わたしと本のための機能</h2>

    <ul class="home-how-to__list">
      <li class="home-how-to__item">
        <h3 class="home-how-to__title">本と向き合う</h3>
        <%= image_tag "pic-home-how-to-book", class: "home-how-to__img", alt: "作品ページのスクリーンショット。本の情報が表示され、引用やコメントなどを登録できます。" %>
        <p class="home-how-to__description">
          <span class="home-how-to__span home-how-to__span--small">※著作権保護のため一部内容をぼかして表示しています。</span>
          <span class="home-how-to__span">感じたこと、引用を自由に記録。</span>
          <span class="home-how-to__span">共有機能はなく、自分だけのために。</span>
        </p>
      </li>
      <li class="home-how-to__item">
        <h3 class="home-how-to__title">著者と向き合う</h3>
        <%= image_tag "pic-home-how-to-author", class: "home-how-to__img", alt: "著者ページのスクリーンショット。登録した作品の読了率がバーで表示され、作品が年代ごとに並びます。" %>
        <p class="home-how-to__description">
          <span class="home-how-to__span">好きな著者の作品年表を自分の手で作成。</span>
          <span class="home-how-to__span">読了率・既読 / 未読 / 積読がひと目でわかる。</span>
        </p>
      </li>
      <li class="home-how-to__item">
        <h3 class="home-how-to__title">ことばと向き合う</h3>
        <%= image_tag "pic-home-how-to-citation", class: "home-how-to__img", alt: "引用一覧ページのスクリーショット。登録した全ての引用を一覧で見ることができます。" %>
        <p class="home-how-to__description">
          <span class="home-how-to__span">残してきたことばを一覧で振り返る。</span>
          <span class="home-how-to__span">自分の思考の軌跡を辿る。</span>
        </p>
      </li>
    </ul>
  </div>
</section>
<%# home-how-to end %>

<%# home-search %>
<section class="home-search home-scroll-snap js-fade-in">
  <div class="home-search__inner l-container--m l-section--l">
    <h2 class="c-title-home">
      好きな本を探してみる
    </h2>
    
    <%# 検索フォーム %>
    <div class="c-search__wrap">
      <%= form_with(
            url: search_index_path,
            method: :get,
            local: true,
            class: "c-search__form",
            data: { mode: "inline" }
          ) do |form| %>
        <div class="c-search c-search--center">
          <%= form.text_field :q, placeholder: "タイトル・著者名など", class: "c-search__text-field" %>
          <div class="c-search__warning-wrap">
            <div class="c-search__warning is-hidden">！入力してください</div>
          </div>
          <%= button_tag(type: "submit", class: "c-search__submit-btn") do %>
            <svg role="img" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="searchIconTitle" stroke="#3e3e3e" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="searchIconTitle">検索</title> <path d="M14.4121122,14.4121122 L20,20"/> <circle cx="10" cy="10" r="6"/> </svg>
          <% end %>
        </div>
      <% end %>
    </div>
    <%# 検索フォーム end %>

    <p class="home-search__lead">
      <span class="home-search__span">気になる本が見つかったら、</span>
      <span class="home-search__span">あなたの読書録を始めてみませんか。</span>
    </p>

    <div class="home-search__cta-wrap">
      <%= link_to "記録を始める", new_user_registration_path, class: "home-search__cta" %>
    </div>
  </div>

  <div class="home-footer">
    <%= yield :in_main_footer %>
  </div>
</section>
<%# home-search end %>