<div class="article-legal__container l-container--s">
  <div class="contact">
    <h2 class="c-title-level1 c-title-level1--center">
      お問い合わせ
    </h2>
    
    <% if flash[:notice] %>
      <p class="contact__notice"><%= flash[:notice] %></p>
    <% elsif flash[:alert] %>
      <p class="contact__alert"><%= flash[:alert] %></p>
    <% end %>

    <%= form_with url: contact_send_path,
                  scope: :contact,
                  local: true,
                  class: "contact__form" do |f| %>
      <div class="contact__field">
        <%= f.label :name, "お名前", class: "contact__label" %>
        <%= f.text_field :name, value: @contact.name, class: "contact__input" %>
      </div>

      <div class="contact__field">
        <%= f.label :email, "メールアドレス", class: "contact__label" %>
        <%= f.email_field :email, value: @contact.email, class: "contact__input" %>
      </div>

      <div class="contact__field">
        <%= f.label :message, "お問い合わせ内容", class: "contact__label" %>
        <%= f.text_area :message, value: @contact.message, rows: 6, class: "contact__textarea" %>
      </div>

      <div class="contact__actions">
        <%= f.submit "送信する", class: "c-button c-button--small c-button--center c-button--white" %>
      </div>
    <% end %>

  </div>
</div>