<% content_for :title, "#{@book.title} - Yomitsuzuri" %>
<% content_for :description, "1冊の本と静かに向き合うページ。登録した引用や読書メモは、あとから何度でも見返し、編集できます。" %>
<% content_for :og_title, "#{@book.title} - Yomitsuzuri" %>
<% content_for :og_description, "1冊の本と静かに向き合うページ。登録した引用や読書メモは、あとから何度でも見返し、編集できます。" %>
<% content_for :og_type, "article" %>

<section class="book-detail">
  <%# フラッシュ %>
  
  <% if flash[:reading_log_notice] %>
    <div class="c-flash">
      <%= flash[:reading_log_notice] %>
    </div>
  <% end %>

  <% if flash[:reading_log_alert] %>
    <div class="c-flash">
      <%= flash[:reading_log_alert] %>
    </div>
  <% end %>

  <%# フラッシュ end %>

  <div class="book-detail__wrap l-container--s">
    <%# 作品情報 %>
    <div class="book-detail__info">
      <div class="book-detail__image">
        <%= image_tag @book.thumbnail_link.presence || 'no-image.jpeg', alt: "#{@book.title} の表紙画像", class: "book-detail__image-img" %>
      </div>

      <%# 作品テキスト部分 %>
      <div class="book-detail__text">
        <h1 class="c-title-level1 book-detail__title">
          <%= @book.title %>
          <%# 読書状況 %>
          <% if @reading_log %>
            <% status_class = case @reading_log.reading_status
              when "read" then "read"
              when "unread" then "unread"
              when "stacked" then "stacked"
              else nil
            end %>

          <div class="c-status-label__wrap">
            <% if status_class.present? %>
            <span class="c-status-label__status c-status-label__status--<%= status_class %>">
              <%= @reading_log.reading_status_label %>
            </span>
            <% else %>
            <span class="c-status-label__status c-status-label__status--unset">未設定</span>
            <% end %>

            <%# 読書状況変更 %>
            <div class="c-status-edit__wrap">
              <button type="button"
                      class="c-status-edit__icon"
                      data-modal-target="reading-status-modal"
                      aria-label="読書状況を編集">
                <svg class="c-status-edit__icon-svg" role="img" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" aria-labelledby="newIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="newIconTitle">編集</title> <path d="M19 14V22H2.99997V4H13"/> <path d="M17.4608 4.03921C18.2418 3.25817 19.5082 3.25816 20.2892 4.03921L20.9608 4.71079C21.7418 5.49184 21.7418 6.75817 20.9608 7.53921L11.5858 16.9142C11.2107 17.2893 10.702 17.5 10.1716 17.5L7.5 17.5L7.5 14.8284C7.5 14.298 7.71071 13.7893 8.08579 13.4142L17.4608 4.03921Z"/> <path d="M16.25 5.25L19.75 8.75"/> </svg>
              </button>

              <div class="c-reading-status-modal is-hidden" id="reading-status-modal">
                <div class="c-reading-status-modal__overlay" data-modal-close></div>
                <div class="c-reading-status-modal__content">
                  <h2 class="c-reading-status-modal__title">読書状況を変更</h2>
                  <%= form_with model: @reading_log,
                                url: update_reading_status_path(@reading_log),
                                method: :patch,
                                class: "c-reading-status-modal__form",
                                local: true do |f| %>
                    <div class="c-register-modal__select-wrap">
                      <%= f.select :reading_status, [
                        ["既読", "read"],
                        ["未読", "unread"],
                        ["積読", "stacked"]
                      ], {}, class: "c-register-modal__status" %>
                    </div>
                    <div class="c-reading-status-modal__actions">
                      <%= f.submit "保存", class: "c-reading-status-modal__submit" %>
                    </div>
                  <% end %>
                  <button class="c-reading-status-modal__close" type="button" data-modal-close>閉じる</button>
                </div>
              </div>
            </div>
            <%# 読書状況変更 end %>
          </div>
          <% end %>
          <%# 読書状況 end %>
        </h1>

        
        <%# 著者 %>
        <p class="book-detail__author">
          <% @book.authors.each_with_index do |author, index| %>
          <% if current_user.favorite_authors.exists?(author_id: author.id) %>
          <%= link_to author.name, author_path(author), class: "c-works__author--link book-detail__author-link" %>
          <% else %>
          <a href="#" class="c-works__author--link book-detail__author-link c-fav-author-modal__open" data-author-id="<%= author.id %>" data-author-name="<%= author.name %>"><%= author.name %></a>
          <% end %>
          <%# 著者が複数いるときはカンマ区切り（最後の著者以外） %>
          <%= ", " unless index == @book.authors.size - 1 %>
          <% end %>
        </p>
        <%# 著者 %>

        <%# 著者お気に入り登録モーダル %>
        <div class="c-fav-author-modal is-hidden">
          <div class="c-fav-author-modal__content">
            <p class="l-mb-16"><span id="authorName"></span> をお気に入りに追加しますか？</p>
            <%= form_with url: favorite_authors_path,
                          method: :post,
                          local: true,
                          id: "favAuthorForm",
                          class: "l-mb-16" do |f| %>
              <%= hidden_field_tag :author_id, nil, id: "modalAuthorId" %>
              <%= f.submit "追加する", class: "c-button c-button--small c-button--white c-button--center" %>
            <% end %>
            <button class="c-fav-author-modal__close">閉じる</button>
          </div>
        </div>
        <%# 著者お気に入り登録モーダル end %>

        <%# 出版年 %>
        <% if @book.published_date.present? %>
        <p class="book-detail__published-date"><%= Date.parse(@book.published_date).strftime("%Y/%m") %></p>
        <% else %>
        <div class="c-published-date__form-wrap">
          <%= form_with model: @book,
                        url: book_path(@book),
                        method: :patch,
                        local: true,
                        class: "c-published-date__form" do |f| %>
            <%= f.label :published_date, "出版年を入力", class: "c-published-date__label" %><br>
            
            <div class="c-published-date__selects">
              <%= select_tag "published_date_year",
                  options_for_select((1800..Date.today.year).to_a.reverse),
                  include_blank: "年",
                  class: "c-published-date__select" %>
              <%= select_tag "published_date_month",
                  options_for_select((1..12).to_a),
                  include_blank: "月",
                  class: "c-published-date__select" %>
              <%= f.submit "保存", class: "c-published-date__submit" %>
            </div>
          <% end %>
        </div>
        <% end %>
        <%# 出版年 end %>

        <%# あらすじ %>
        <% if @book.description.present? %>
          <p class="book-detail__description">
            <span class="book-detail__description-title">あらすじ</span>
            <%= @book.description %>
          </p>
        <% end %>
        <%# あらすじ end %>

      </div>
      <%# 作品テキスト部分 end %>

    </div>
    <%# 作品情報 end %>

    <%# 読了日・登録日 %>
    <% if @reading_log %>
      <div class="book-detail__date-wrap">
        <% if @reading_log&.read? && @reading_log.read_at.present? %>
        <p class="book-detail__date">読了日：<%= @reading_log.read_at.strftime("%Y/%m/%d") %></p>
        <% end %>
        <p class="book-detail__date">登録日：<%= @reading_log.created_at.strftime("%Y/%m/%d") %></p>
      </div>
    <% end %>
    <%# 読了日・登録日 end %>
  </div>

  <div class="book-detail__wrap l-container--s">
    <% if @reading_log %>
    <%# 引用 %>
    <% if @reading_log.citations.any? %>
      <div class="l-mb-32">
        <% @reading_log.citations.each do |citation| %>
          <div class="c-citation">
            <blockquote class="c-citation__content">
              <p class="c-citation__text">"<%= citation.content %>"</p>
              <div class="c-citation__info">
                <% if citation.page_number.present? %>
                  <span class="c-citation__page"><%= citation.page_number %></span>
                <% end %>
                <time class="c-citation__date"><%= citation.created_at.strftime("%Y/%m/%d") %></time>
              </div>
            </blockquote>

            <%# 引用削除ボタン %>
            <%= form_with url: reading_log_citation_path(reading_log_id: @reading_log.id, id: citation.id),
                          method: :delete,
                          class: "c-citation__delete-form",
                          data: { confirm: "この引用を削除しますか？" } do %>
              <button type="submit" class="c-citation__delete-btn" aria-label="引用を削除">
                <svg class="c-citation__delete-svg" role="img" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" aria-labelledby="binIconTitle" stroke="#3e3e3e" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3e3e3e"> <title id="binIconTitle">削除</title> <path d="M19 6L5 6M14 5L10 5M6 10L6 20C6 20.6666667 6.33333333 21 7 21 7.66666667 21 11 21 17 21 17.6666667 21 18 20.6666667 18 20 18 19.3333333 18 16 18 10"/> </svg>
              </button>
            <% end %>
            <%# 引用削除ボタン end %>

          </div>
        <% end %>
      </div>
    <% end %>
    <%# 引用 end %>

    <%# 引用追加フォーム %>
    <div class="c-edit-form">
      <%= form_with(model: [@reading_log, Citation.new], local: true, class: "c-edit-form__form") do |f| %>
        <div class="c-edit-form__field">
          <%= f.label :content, "引用を追加", class: "c-edit-form__label" %>
          <%= f.text_area :content, rows: 3, placeholder: "心に残った文章を書き留めておきましょう", class: "c-edit-form__textarea" %>
        </div>
        <div class="c-edit-form__flex">
          <div class="c-edit-form__field">
            <%= f.label :page_number, "ページ番号", class: "c-edit-form__label" %>
            <%= f.text_field :page_number, placeholder: "例：p.123", class: "c-edit-form__input" %>
          </div>
          <%= f.submit "追加する", class: "c-button c-button--x-small c-button--white c-edit-form__submit" %>
        </div>
      <% end %>
    </div>
    <%# 引用追加フォーム end %>

    <%# コメント %>
    <% if @reading_log.comment.present? %>
      <p class="book-detail__comment"><%= @reading_log.comment %></p>
      <time class="book-detail__comment-date">（更新日：<%= @reading_log.updated_at.strftime("%Y/%m/%d") %>）</time>
    <% else %>
      <p class="book-detail__comment">コメントはまだありません。</p>
    <% end %>
    <%# コメント end %>

    <%# コメント編集フォーム %>
    <button type="button" class="book-detail__edit-btn" aria-label="コメント編集">
      編集する
    </button>

    <div class="c-edit-form book-detail__comment-form is-hidden">
      <%= form_with model: @reading_log,
                    url: update_comment_reading_log_path(@reading_log),
                    method: :patch,
                    class: "c-edit-form__form", local: true do |f| %>
        <div class="c-edit-form__field">
          <%= f.text_area :comment, rows: 3, placeholder: "コメントを編集", class: "c-edit-form__textarea" %>
        </div>
        <%= f.submit "保存する", class: "c-button c-button--x-small c-button--white c-edit-form__submit" %>
      <% end %>
    </div>
    <%# コメント編集フォーム end %>

    <% else %>
      <p>この作品はまだ登録されていません。</p>
    <% end %>
  </div>

  <div class="l-container--s book-detail__link-wrap">
    <div class="book-detail__link">
      <div><%= link_to "読んだ本一覧へ戻る", home_mypage_path, class: "c-back-link" %></div>
      <div><%= link_to "引用メモ一覧へ戻る", citations_mypage_path, class: "c-back-link" %></div>
      <div><%= link_to "お気に入り著者一覧へ戻る", favorites_mypage_path, class: "c-back-link" %></div>
    </div>

    <%# 本削除ボタン %>
    <!-- 削除ボタン（モーダル開くだけ） -->
    <button type="button"
            class="c-delete-link c-delete-modal__open--book"
            data-reading-log-id="<%= @reading_log.id %>">
      本を削除する
    </button>
  </div>
</section>

<%# 削除確認モーダル %>
<div class="c-delete-modal c-delete-modal--book is-hidden">
  <div class="c-delete-modal__content">
    <p class="c-delete-modal__text">本当に削除しますか？</p>
    <p class="c-delete-modal__text">この本の引用やコメントは全て削除されます。</p>
    <p class="c-delete-modal__text c-delete-modal__text--small">※この操作は取り消せません。</p>
    <form class="c-delete-modal__form c-delete-modal__form--book" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button type="submit" class="c-delete-modal__btn">OK</button>
      <button type="button" class="c-delete-modal__btn c-delete-modal__close-btn--book">キャンセル</button>
    </form>
  </div>
</div>
<%# 削除確認モーダル end %>