<!DOCTYPE html>
<html>
  <head>
    <title>Yomitsuzuri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# google font %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">

    <%# style %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# JS %>
    <%= javascript_importmap_tags %>
  </head>

  <%= tag.body data: { user_id: current_user&.id } do %>
    <div id="modals"></div>

    <%= render "shared/header" %>
    <main><%= yield %></main>
    <%= render "shared/footer" %>
  <% end %>
  

</html>
