<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "読綴 -Yomitsuzuri-" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'わたしの感性で、ありのままに綴る。読綴は、著者にフォーカスした静かな読書記録アプリです。' %>">
    <meta name="format-detection" content="telephone=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# favicon %>
    <link rel="icon" href="<%= asset_path 'favicon.png' %>" type="image/x-icon">

    <%#Web Clip Icon %>
    <link rel="apple-touch-icon" href="<%= asset_path 'apple-touch-icon.png' %>">

    <%# OGP基本タグ %>
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : '読綴 -Yomitsuzuri-' %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'わたしの感性で、ありのままに綴る。読綴は、著者にフォーカスした静かな読書記録アプリです。' %>">
    <meta property="og:type" content="<%= content_for?(:og_type) ? yield(:og_type) : 'website' %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= asset_url('default_ogp.png') %>">
    <meta property="og:site_name" content="読綴 -Yomitsuzuri-">
    <meta property="og:locale" content="ja_JP">

    <%# Twitterカード %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:og_title) ? yield(:og_title) : '読綴 -Yomitsuzuri-' %>">
    <meta name="twitter:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'わたしの感性で、ありのままに綴る。読綴は、著者にフォーカスした静かな読書記録アプリです。' %>">
    <meta name="twitter:image" content="<%= content_for?(:og_image) ? yield(:og_image) : asset_url('default_ogp.png') %>">

    <%# google font %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Noto+Serif+JP:wght@200..900&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">

    <%# style %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# JS %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <%= tag.body class: content_for?(:body_class) ? yield(:body_class) : nil,
            data: { user_id: current_user&.id } do %>
    <div id="modals"></div>

    <%# プロフィール更新フラッシュ %>
    <% if flash[:profile_notice] %>
      <div class="c-flash">
        <%= flash[:profile_notice] %>
      </div>
    <% end %>
    <%# プロフィール更新フラッシュ end %>


    <%= render "shared/header" %>
    <main>
      <%= yield %>
    </main>
    <% unless content_for(:in_main_footer).present? %>
      <%= render "shared/footer" %>
    <% end %>
  <% end %>
  

</html>
