<!DOCTYPE html>
<html>
  <head>
    <title>Yomitsuzuri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# google font %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">

    <%# style %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# JS %>
    <%= javascript_importmap_tags %>
  </head>

  <%= tag.body data: { user_id: current_user&.id } do %>
    <div id="modals"></div>
    <%= render "shared/header" %>

    <main class="mypage">
    
    <div class="mypage__index">
    <%# フラッシュ %>
    <% if flash[:reading_log_deleted_notice] %>
      <div class="c-flash c-flash--notice l-mb-40">
        <span><%= flash[:reading_log_deleted_notice] %></span>
        <button type="button" class="c-flash__close" aria-label="閉じる">&times;</button>
      </div>
    <% end %>
    <%# フラッシュ end %>
        <div class="mypage__wrap">
          <section class="mypage__profile">
            <%# プロフィール画像とユーザー名表示 %>
            <h2><%= current_user.nickname %> さんのマイページ</h2>
            <%= link_to "アカウント情報編集", edit_user_registration_path %>
            <%= button_to "ログアウト",
                destroy_user_session_path,
                method: :delete,
                form: { data: { turbo: false } }
              %>
          </section>

          <section class="mypage__contents-wrap">
            <ul class="mypage__nav">
              <li class="mypage__nav-item">
                <%= link_to "ホーム", home_mypage_path, class: ["mypage__nav-link", ("is-active" if current_page?(home_mypage_path))].compact.join(" ") %>
              </li>
              <li class="mypage__nav-item">
                <%= link_to "お気に入り著者", favorites_mypage_path, class: ["mypage__nav-link", ("is-active" if current_page?(favorites_mypage_path))].compact.join(" ") %>
              </li>
              <li class="mypage__nav-item">
                <%= link_to "引用メモ", citations_mypage_path, class: ["mypage__nav-link", ("is-active" if current_page?(citations_mypage_path))].compact.join(" ") %>
              </li>
            </ul>


            <!-- ここからページ固有↓ -->
              <%= yield %>
            <!-- ここまでページ固有↑ -->
          </section>
        </div>
      </div>
    </main>

    <%= render "shared/footer" %>
  <% end %>
  

</html>